<template>
  <div class="home">
    <h2 class="title">Lazy loading experiments</h2>
    <ul class="list">
      <li>Img is the page without lazyloading, the images are in the img tag</li>
      <li>Img lazy is the page with lazyloading, the images are in the img tag and it uses lazysizes</li>
      <li>Picture lazy is the page with lazyloading, the images are in the picture tag and it uses lazysizes</li>
      <li>Img lazy (yall) is the page with lazyloading, the images are in the img tag and it uses yall</li>
      <li>Picture lazy (yall) is the page with lazyloading, the images are in the picture tag and it uses yall</li>
    </ul>
  </div>
</template>

<style scoped>
.home {
  display: flex;
  flex-flow: row wrap;
}

.title {
  width: 100%;
  margin: .5rem;
  text-align: center;
}

.list {
  margin: 1rem auto;
  text-align: left;
}

</style>

<script>
export default {
  name: 'home',
}
</script>
