<template>
  <div class="test-page">
    <div class="block" v-for="(block, index) in blocks.fullWidth" :key="`full-width-${index}`">
      <picture>
        <source :srcset="webp(lazyUrl(block.image))" :data-srcset="webp(expandUrl(block.image))" type="image/webp" />
        <img class="img-fluid lazyload" :src="lazyUrl(block.image)" :data-src="expandUrl(block.image)" />
      </picture>
      <p class="block-text">{{block.text}}</p>
    </div>
  </div>
</template>

<script>
import 'lazysizes'
import { blocks } from '@/assets/blocks.js'
export default {
  name: 'picture-lazy',
  data() {
    return {
      blocks,
      publicPath: process.env.BASE_URL
    }
  },
  methods: {
    expandUrl(url) {
      return `${this.publicPath}${url}`
    },
    webp(url) {
      return url.replace('.jpg', '.webp').replace('.png', '.webp')
    },
    lazyUrl(origUrl) {
      const url = `orig-mono-${origUrl}`.replace('.jpg', '.png')
      return this.expandUrl(url)
    }
  }
}
</script>
