<template>
  <div class="test-page">
    <div class="block" v-for="(block, index) in blocks.fullWidth" :key="`full-width-${index}`">
      <img class="img-fluid" :src="expandUrl(block.image)" />
      <p class="block-text">{{block.text}}</p>
    </div>
  </div>
</template>

<script>
import { blocks } from '@/assets/blocks.js'
export default {
  name: 'sample',
  data() {
    return {
      blocks,
      publicPath: process.env.BASE_URL
    }
  },
  methods: {
    expandUrl(url) {
      return `${this.publicPath}${url}`
    }
  }
}
</script>
