<template>
  <div class="test-page">
    <div class="block" v-for="(block, index) in blocks.fullWidth" :key="`full-width-${index}`">
      <img class="img-fluid lazy" :src="lazyUrl(block.image)" :data-src="expandUrl(block.image)" />
      <p class="block-text">{{block.text}}</p>
    </div>
  </div>
</template>

<script>
import { default as yall } from 'yall-js'
import { blocks } from '@/assets/blocks.js'
export default {
  name: 'sample-lazy-yall',
  data() {
    return {
      blocks,
      publicPath: process.env.BASE_URL
    }
  },
  created() {
    yall({ observeChanges: true });
  },
  methods: {
    expandUrl(url) {
      return `${this.publicPath}${url}`
    },
    lazyUrl(origUrl) {
      const url = `orig-mono-${origUrl}`.replace('.jpg', '.png')
      return this.expandUrl(url)
    }
  }
}
</script>
