<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/sample">Img</router-link> |
      <router-link to="/sample-lazy">Img Lazy</router-link> |
      <router-link to="/picture-lazy">Picture Lazy</router-link> |
      <router-link to="/sample-lazy-yall">Img Lazy (yall)</router-link> |
      <router-link to="/picture-lazy-yall">Picture Lazy (yall)</router-link>
    </div>
    <router-view/>
  </div>
</template>
