#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.block {
  max-width: 100%;
  min-height: 100vh;
  padding: 1rem;
}

.img-fluid {
  max-width: 100%;
}

.block-text {
  max-width: 100%;
  text-align: center;
  padding: 1rem 0;
}
